<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title><% if (title) { %> <%= title %> <% } %></title>
  </head>
  <body>
    <table style="width: 100%; height: 100%">
      <tbody>
        <tr>
          <% if (css) { %> <%- css %> <% } %>
          <td>
            <div class="mail__container">
              <!-- 订阅者名称 -->
              <% if (userName) { %>
              <div class="mail__container__subscriber">
                你好呀~ <span class="text-emphasize"><%= userName %></span>
              </div>
              <% } %>
              <!-- 订阅者邮箱 -->
              <% if (email) { %>
              <div class="mail__container__address">
                <div>
                  以下是您订阅
                  <a href="<%= blogConfig.publicPath %> ">
                    <% if (blogConfig.blogName) { %> <%= blogConfig.blogName %>
                    <% } %> <% if (!blogConfig.blogName) { %> <%=
                    blogConfig.publicPath %> <% } %>
                  </a>
                  的邮箱：
                </div>
                <div>
                  <span class="text-emphasize"><%= email %></span>
                </div>
              </div>
              <% } %>
              <!-- 订阅链接 -->
              <% if (subscribeUrl) { %>
              <div class="mail__container__subscribeUrl">
                <div style="margin-bottom: 5px">请点击以下链接进行确认订阅</div>
                <a href="<%= subscribeUrl %>"><%= subscribeUrl %></a>
              </div>
              <% } %>
              <div class="footer">
                <div class="footer__tips">
                  <div class="footer__tips__left">
                    若不是您订阅的邮件，请勿理会<br />
                    本邮件由系统发出，请勿回复
                  </div>
                  <div class="footer__tips__right">
                    <% if (blogConfig.avatarUrl) { %>
                    <a href="<%=blogConfig.publicPath %>"
                      ><img src="<%= blogConfig.avatarUrl %>"
                    /></a>
                    <% } %>
                  </div>
                </div>
                <div class="footer__time">
                  <% if (blogConfig.blogger) { %> <%= blogConfig.blogger %><br />
                  <% } %> <%= time %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
